*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.navbar{
    background-color: #fff;
    padding: 15px 50px;
    border-bottom: 1px solid rgb(90, 94, 96);
    position: fixed;
    width: 100%;
    top: 0;   
}

.logo{
    display: inline-block;
}

.logo a{
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.nav-list{
    display: inline-block;
    margin-left: 680px;
    
}

.nav-list li{
    display: inline-block;
}

.nav-list a{
    color: rgba(0, 0, 0, 0.938);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
}

.sg-button{
    float: right;
}

.lg-button{
    float: right;
}

.sg-button a{
    display: flex;
    padding: 8px;
    margin: 7px;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    background-color: rgb(32, 55, 207)
}

.lg-button a{
    display: flex;
    padding: 8px;
    margin: 7px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    background-color: rgb(32, 55, 207)
}

.hero{
    display: inline-block;
    align-items: center;
    padding: 150px;
    background-color: rgb(209, 190, 167);
    width: 118%;
    margin-top: -30px;
    padding-bottom: 100px;


}

.hero{
    display: flex;
    padding-bottom: 100px;
}

.h1-heading{
    font-size: 40px;
    font-family: Arial, Helvealatica, sans-serif;
    margin-bottom: 5px;
    margin-left: 200px;
}

.passage{
    font-size: 17px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 25px;
    margin-left: 200px;
}

.joinnow-button a{
    display: inline-block;
    padding: 8px;
    margin-left: 200px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    text-decoration: none;
    background-color: rgb(116, 165, 31)
}

.ig-tag{
    display: inline-block;
}

.ig-tag img{
    display: inline-block;
    max-width: 20%; 
    margin-left: 400px;
}

.ig-tag img{
    display: flex;
    float: right;
    margin-top: -270px;
}

.hd-client{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 350px;
}

.h1-heading2{
    padding-top: 80px;
    font-weight: bold;
    font-size: 50px;   
}

.hd-passage{
    padding: 20px;
    font-size: 18px;
}

.all-image img{
    width: 60px;
    margin: 95px;
}

.power{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1-heading3{
    font-weight: bold;
    font-size: 40px;
    width: 600px;
    text-align: center;
    margin-left: 350px;
    font-family: Arial, Helvetica, sans-serif;
}

.pw-passage{
    font-size: 120%;
    padding: 20px;
    margin-left: 23%;
    font-family: Arial, Helvetica, sans-serif;
}

.all-image2 img{
    width: 90px;
    margin: 60px;
}

.all-heading9 h1{
    display: inline-block;
    font-size: large;
    padding: 20px;
}

.all-heading9 h1{
    width: 200px;
    text-align: center;
}

.pw-passage9 p{
    display: inline-block;
    font-size: 15px;
    width: 200px;
    text-align: center;
    align-items: center;
}

.all-dd{
    margin-left: 300px;
    padding-bottom: 80px;
    
}

.helpingl{
    display: flex;
    background-color: rgb(209, 190, 167);
    width: 118%;
    align-items: center;
    padding: 100px;
}

.all-hptag{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center; 
}

.hp-content{
    width: 300px;
    font-size: 11px;
    text-align: center; 
    margin-left: 150px;
}

.two-tag img{
    width: 70px;
}

.two-tag2 img{
    width: 70px;
}

.two-tag3 img{
    width: 70px;
}

.two-tag4 img{
    width: 70px;
}

.two-tag{
    padding: 25px;  
}

.two-tag2{
    padding: 25px;  
}

.two-tag3{
    padding: 25px;   
}

.two-tag4{
    padding: 25px; 
}

.all-hptag{
    font-size: 17px;
}

.all-hptag img{
    width: 120px;
}

.hp-content h1{
    font-size: 22px;
}

.hp-content p{
    font-size: 13px;
}

.future{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ft-content{
    text-align: center;
    width: 900px;
    padding: 90px;
    margin-left: 350px;
}

.ft-image1 img{
    width: 200px;
    margin-left: 250px;
    padding-bottom: 90px;
}

.ct{
    display: flex;
    align-items: center;
    margin-left: 500px;
    padding: 80px;
    background-color: rgb(209, 190, 167);
    width: 118%;
    margin-left: -0px;

}

.ct-image img{
    width: 210px;
    margin-left: 500px;
}

.all{
    padding: 30px;
    margin-left: 200px;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: rgb(34, 44, 64);
    width: 118%;
    color: white;
}

.im-gg img{
    width: 40px;
    padding: 3px;
    padding-top: 12px;
}

.cm-ppp a{
    display: flex;
    color: white;
    text-decoration: none;
}

.sup-kkk a{
    display: flex;
    color: white;
    text-decoration: none;
}

.ft-passage p{
    width: 175px;
}

.footer{
    padding: 80px;
    gap: 200px;
}

.ft-all{
    padding: 10px;
}
